<!DOCTYPE html>
<html>
<head>
<style>
  body   
{ 
   background-color:#F7F6F6
 }
  h1     
{
   background-color:#006E8C; 
   color:#F7F6F6; 
   line-height:60px;
}
button 
{
     background-color:#006E8C ;
     color:#F7F6F6 ;
     border:1px solid #F7F6F6 ;
 }
 h2
 {
    color: #444444; 
    margin-top: 143px;
    margin-left: 1000px;
 }
 form
 {
    margin-left: 900px;
    
 }
  </style>
</head>
<body>

  <h1>
    Diary
    <button type="button" style=" margin-top: 17px; margin-left: 1100px; line-height:27px; width:102px;" >Log In</button> 
  </h1>

  <h2>Sign Up</h2>

  <form>
    <br>
    <input type="text" name="login" value="log in" style="border: 1px solid #AAAAAA; color: #C0C0C0; line-height: 51px; width:327px  ">
    <br>
    <br>
    <input type="text" name="password" value="password"           style="border: 1px solid #AAAAAA; color: #C0C0C0; line-height: 51px; width: 327px ">
    <br>
    <br>
    <input type="text" name="email" value="email"           style="border: 1px solid #AAAAAA; color: #C0C0C0; line-height: 51px; width: 327px ">
    <br>
    <br>
    <button style="background-color:#006E8C; color:#F7F6F6;        border:1px solid #F7F6F6; text-align: center; line-height: 51px; width: 327px">Sign Up</button>
  </form>

  <div style="background-color:#FFFFFF; height-line: 43px; text-align:center; margin-top: 80px; width: 1350px; color:#7A7A7A"> Diary @ 2015 
  </div>

  <script type="text/javascript" src="../../public/js/global.js"></script>
</body>
</html>
