body {
    color: #202020;
    font-family: "Open Sans","Helvetica", Arial,sans-serif;
    font-size: 13px;
}

/* HEADER */
.navbar-nav.navbar-right .btn {
	position: relative;
	z-index: 2;
	padding: 2px 15px;
	margin: 5px auto;
}

.btn.btn-circle { 
	border-radius: 50px; 
}

.btn.btn-outline {
	color: #ffffff;
	font-size: 0.9em;
	background-color: transparent; 
}

.btn.btn-default.add {
	color: #ffffff;
	margin-right: 50px;
	font-size: 0.9em;
	background-color: transparent;
}

.btn#add-btn {
	color: green;
}

/* Create a small height at 20px */
.navbar-sm {min-height:20px}
.navbar-sm .navbar-brand,
.navbar-sm .navbar-nav>li>a {padding-top: 7px; padding-bottom: 7px;}
.navbar-sm .navbar-brand {height: 30px}
.navbar-sm .navbar-toggle {margin: 3px 9px 3px 0px; padding: 4px 4px 4px 4px;}
.navbar-sm .navbar-toggle .icon-bar {width: 16px;}
.navbar-sm .btn.btn-outline {margin-left: 10px;}

.navbar-custom {
    background-color: #00A37F;
    color: #ffffff;
    border-radius: 0;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
}
.navbar-custom .navbar-brand {
    color: #eeeeee;
}

/* HOME  PAGE*/

/* MAIN */
.form-control {
	width: 100%;
}


/* LEFT */
#left {
	position: absolute; 
	top: 5%; /* Set this to the height of the header */
	bottom: 5%; /* Set this to the height of the footer */
	left: 0; 
	width: 300px;
	overflow: auto; /* Scrollbars will appear on this frame only when there's enough content to require scrolling. To disable scrollbars, change to "hidden", or use "scroll" to enable permanent scrollbars */
	background-color: #F8F8F8; 		
}

#left ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	margin-top: 20%;
}

#left ul li {
	margin-left: 60px;
	padding: 4px;
}

#left ul li:hover {
	background-color: #fff;
}

#left ul li:active {
	color: red;
}

#left ul a {
	color: #303333;
	text-decoration: none;
}

#left a span {
	color: #00A37F;
	margin-left: 65px;
}


#left ul li i {
	margin-right: 10px;
}



/* FOOTER */
footer {
	margin-bottom: 100px;
}

footer ul {
	list-style-type: none;
    margin: 5px;
    padding: 0;
    overflow: hidden;
}

footer ul li {
	float: left;
}

footer li a {
	text-decoration: none;
	display: block;
    width: 60px;
    color: #fff;
}

footer li a:hover {
	color: #fff;
}



@media screen and (max-width: 767px) {

}


/* EDIT PAGE */
