body {
    color: #202020;
    font-family: "Open Sans","Helvetica", Arial,sans-serif;
    font-size: 1.6em;
}

/* HEADER */
.navbar-nav.navbar-right .btn {
	position: relative;
	z-index: 2;
	padding: 2px 15px;
	margin: 5px auto;
}


.icon-bar {
	background-color: #F6F4F2;
}

.btn.btn-circle { 
	border-radius: 50px; 
}

.btn.btn-outline {
	color: #ffffff;
	font-size: 0.9em;
	background-color: transparent; 
}

.btn.btn-default.addNewPost {
	color: #fff;
	margin-right: 50px;
	font-size: 0.9em;
	background-color: transparent;
}

.btn#add-btn {
	color: green;
}

/* Create a small height at 20px */
.navbar-sm {min-height:20px}
.navbar-sm .navbar-brand,
.navbar-sm .navbar-nav>li>a {padding-top: 7px; padding-bottom: 7px;}
.navbar-sm .navbar-brand {height: 30px}
.navbar-sm .navbar-toggle {margin: 3px 9px 3px 0px; padding: 4px 4px 4px 4px;}
.navbar-sm .navbar-toggle .icon-bar {width: 16px;}
.navbar-sm .btn.btn-outline {margin-left: 10px;}

.navbar-custom {
    background-color: #007B85;
    color: #ffffff;
    border-radius: 0;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
}
.navbar-custom .navbar-brand {
    color: #fff;
}

/* HOME  PAGE*/

/* MAIN */
.innertube {
	margin: 0; /* Provides padding for the content */

}

section {
	position: absolute;
	top: 38px; /* Set this to the height of the header */
	bottom: 35px; /* Set this to the height of the footer */
	left: 350px; 
	right: 0;
	overflow: auto; 
	background: #fff;
	margin-right: 100px;
}

.content {
	margin-right: 50px;
}

section.btn-group {
	display: inline;
}

.edit-delete {
	margin-bottom: 50px;
}

section span {
	margin-top: 20px;
	margin-right: 5%;
}

.postDate {
	color: #838B95;
	font-size: 1em;
}

/* LEFT */
#postlist {
	position: absolute; 
	top: 38px; /* Set this to the height of the header */
	bottom: 35px; /* Set this to the height of the footer */
	left: 0; 
	width: 300px;
	overflow: auto; /* Scrollbars will appear on this frame only when there's enough content to require scrolling. To disable scrollbars, change to "hidden", or use "scroll" to enable permanent scrollbars */
	background-color: #F8F8F8; 		
}

#postlist ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	margin-top: 25px;
	margin-bottom: 25px;
}

#postlist ul li {
	margin-left: 60px;
	padding: 4px;
}

#postlist ul li:hover {
	background-color: #fff;
}

#postlist ul li:active {
	color: red;
}

#postlist ul a {
	color: #303333;
	text-decoration: none;
}

#postlist a span {
	color: #00A37F;
	margin-left: 65px;
}


#postlist ul li i {
	margin-right: 10px;
}



/* FOOTER */
footer {
	margin-bottom: 100px;
}

footer ul {
	list-style-type: none;
    margin: 5px;
    padding: 0;
    overflow: hidden;
}

footer ul li {
	float: left;
}

footer li a {
	text-decoration: none;
	display: inline;
    width: 60px;
    color: #fff;
}

footer li a:hover {
	color: #fff;
}

#deleteProfile {
	margin-left: 75%; font-size: 14px;
}

@media screen and (max-width: 767px) {
	#postlist {
		top: 30px;
	}
	section {
		top: 30px;
	}
}


/* EDIT PAGE */
