<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Diary</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../../public/css/edit.css">
	</head>

	<body>
		<header id="header">	
	    <nav class="navbar navbar-custom navbar-fixed-top navbar-sm">
	      <div class="container">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="../home/index.html">Diary</a>
	        </div>
	    
	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="navbar-collapse-2">
	          <ul class="nav navbar-nav navbar-right">
	            <li>
	            	<form action="../signin/index.html" method="post">
	           			<input class="btn btn-default btn-outline btn-circle" type="submit" value="Log out"></input>
	              </form>
	            </li>
	          </ul>
	        </div><!-- /.navbar-collapse -->
	      </div><!-- /.container -->
	    </nav><!-- /.navbar -->
		</header>


		<br>

		<main class="innertube">
			<div class="content">
        <div class="col-md-12">
            <h3>Add new post!</h3>
            <form id="addPost">
              <div class="form-group">
                <input type="text" class="form-control" id="inputTitle" placeholder="Title">
              </div>
              <textarea class="form-control" rows="10" id="inputText">
              </textarea>
            </form>
          </div><!-- /content -->
			</div>
			<div class="pull-right" style="margin-right: 15px;">
				<br>
				<!-- action="../home/index.html" -->
				<form>
					<button type="submit" class="btn btn-default" onclick="">Cancel</button>
					<button type="submit" class="btn btn-success" id="btnAddPost" onclick="">Submit</button>
				</form>
			</div>
		</main>

		<footer id="footer">	
	    <nav class="navbar navbar-custom navbar-fixed-bottom navbar-sm">
	      <div class="container">
	        <div>
			      <ul>
						  <li><a href="#">Diary</a></li>
						</ul>
			    </div>
	      </div><!-- /.container -->
	    </nav><!-- /.navbar -->
		</footer>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../public/js/global.js"></script>
	</body>
	
</html>