<!DOCTYPE html>
<html>
<head>
<style>
  body   
{ 
   background-color:#F7F6F6
 }
  h1     
{
   background-color:#006E8C; 
   color:#F7F6F6; 
   line-height:60px;
}
button 
{
     background-color:#006E8C ;
     color:#F7F6F6 ;
     border:1px solid #F7F6F6 ;
     line-height:27px;
     width:102px;
     margin-top: 17px;
     margin-left: 1000px;
 }
 h2
 {
    color: #444444; 
    text-align: center; 
    margin-top: 165px;
 }
 form
 {
    text-align: center;
    
 }
  </style>
</head>
<body>

  <h1>
    Diary
    <button type="button" >Sign Up</button> 
  </h1>

  <h2> Log In</h2>

  <form>
    <br>
    <input type="text" name="login" value="log in" style="border: 1px solid #AAAAAA; color: #C0C0C0 ">
    <br>
    <br>
    <input type="text" name="password" value="Password" style="border: 1px solid #AAAAAA; color: #C0C0C0 ">
    <br>
  </form>
</body>
</html>